In [1114]:
#import neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [1226]:
#connecting webdriver
driver = webdriver.Chrome(r"C:\Users\44795\Dropbox\PC\Desktop\fliprobo projects\chromedriver.exe")

In [1227]:
#question one
#pen website to be scrapped
driver.get("https://www.naukri.com/")

In [1236]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [1239]:
location = driver.find_element(By.XPATH,"/html/body/div/div[6]/div/div[1]/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [1240]:
search = driver.find_element(By.XPATH,"/html/body/div/div[6]/div/div/div[6]")
search.click()

In [78]:
job_title =[]
location = []
company_name =[]
experience_required =[]

In [545]:
#question_4
driver.get('https://www.flipkart.com/')
#connecting web browser

In [546]:
#searhing web for sunglasses
sunty = driver.find_element(By.CLASS_NAME,"_3704LK")
sunty.send_keys('sunglasses')

In [547]:
#clicking to enter filtered products of sunglasses
s = driver.find_element(By.CLASS_NAME,"_34RNph")
s.click()

In [548]:
#creating empty list variable for the data
brand =[]
Description =[]
price =[]

In [549]:
#scrapping neccessary data to the empty list variable 
brand_name = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_name[0:40]:#picking only the first 40 items
    brand.append(i.text)
    
descrip = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in descrip[0:40]:
    Description.append(i.text)
Description = Description[0:40]

amnt = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in amnt[0:40]:
    price.append(i.text)

In [551]:
#page two
bra = []
de = []
pr = []
page_2 = driver.find_element(By.CLASS_NAME, "_2Kfbh8")
page_2.click()

brand_name2 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in brand_name2[0:39]:
    bra.append(i.text)
    
descrip2 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descrip2[0:39]:
    de.append(i.text)

amnt2 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in amnt2[0:39]:
    pr.append(i.text)

#page three
bra1 = []
d = []
pr1 = []
page_three = driver.find_element(By.CLASS_NAME, "_2Kfbh8")
page_three.click()

brand_name3 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in brand_name3[0:21]:
    d.append(i.text)
    
descrip3 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in descrip3[0:21]:
    bra1.append(i.text)

amnt3 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in amnt3[0:21]:
    pr1.append(i.text)

brand_data = brand+bra+bra1
price_data = price+pr1+pr
description_data = Description+d+de

len(brand_data),len(price_data),len(description_data)

sunglasses_df = pd.DataFrame({"Brand Name":brand_data,"Product Description":description_data,"Price":price_data})

In [396]:
sunglasses_df

       Brand Name                                Product Description Price
0       Elligator   UV Protection, Mirrored Wayfarer Sunglasses (54)  ₹179
1         DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...  ₹218
2      LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
..            ...                                                ...   ...
95      Elligator       UV Protection Aviator Sunglasses (Free Size)  ₹769
96     LIZA ANGEL  by Lenskart Polarized, UV Protection Round Sun...  ₹901
97       Fastrack              UV Protection Aviator Sunglasses (58)  ₹329
98  VINCENT CHASE      UV Protection Wayfarer Sunglasses (Free Size)  ₹129
99           SRPM             UV Protection Wayfarer Sunglasses (53)  ₹179

[100 rows x 3 columns]

In [801]:
#q5
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [677]:
rat = []
rev_sumary= []
full_rev =[]

ratings = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings[0:10]:#picking only the first 40 items
    rat.append(i.text)
    
review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review[0:10]:
    rev_sumary.append(i.text)
    
full = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full[0:10]:
    full_rev.append(i.text.replace('\n',""))

In [678]:
#page2
page_two = driver.find_element(By.CLASS_NAME, "_1LKTO3")
page_two.click()

r = []
rs =[]
fu = []
ratings1 = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings1[0:10]:
    r.append(i.text)

review1 = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in review1[0:10]:
    rs.append(i.text)

full = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full[0:10]:
    fu.append(i.text.replace('\n',''))

In [679]:
#page3
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=3')

r1 =[]
rs1 =[]
fu1 = []

rating2 = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating2[0:10]:
    r1.append(i.text)
    
review2 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review2[0:10]:
    rs1.append(i.text)
    
full2 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full2[0:10]:
    fu1.append(i.text.replace('\n',""))

In [680]:
#page 4

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=4')
r2 =[]
rs2= []
fu2 = []

rating3 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating3:
    r2.append(i.text)
    
review2 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review2:
    rs2.append(i.text)

full3 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full3:
    fu2.append(i.text.replace('\n',''))

In [681]:
#page 5
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=5')

r3 =[]
rs3= []
fu3 = []
rating4 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating4:
    r3.append(i.text)
    
review3 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review3:
    rs3.append(i.text)

full4 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full4:
    fu3.append(i.text.replace('\n',''))

In [682]:
#page 6
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=6')

r4 =[]
rs4= []
fu4 = []
rating5 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating5:
    r4.append(i.text)
r4.insert(9,"1")   

review4 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review4:
    rs4.append(i.text)

full5 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full5:
    fu4.append(i.text.replace('\n',''))

In [683]:
#page 7
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=7')

r5 =[]
rs5= []
fu5 = []
rating6 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating6:
    r5.append(i.text)
r5.insert(1,"1")    
review5 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review5:
    rs5.append(i.text)

full6 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full6:
    fu5.append(i.text.replace('\n',""))

In [684]:
#page 8
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=8')
r6 =[]
rs6= []
fu6 = []
rating7 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating7:
    r6.append(i.text)
    
review6 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review6:
    rs6.append(i.text)

full7 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full7:
    fu6.append(i.text.replace('\n',""))

In [685]:
#page 9
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=9')
r7 =[]
rs7= []
fu7 = []
rating8 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating8:
    r7.append(i.text)
    
review7 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review7:
    rs7.append(i.text)

full8 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full8:
    fu7.append(i.text.replace('\n',""))

In [686]:
#page 10
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=10')

r8 =[]
rs8= []
fu8 = []
rating9 = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for i in rating9:
    r8.append(i.text)
r8.insert(8,"1")

review8 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review8:
    rs8.append(i.text)

full9 = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for i in full9:
    fu8.append(i.text.replace('\n',""))

In [688]:
#checking length of all variables

len(rat),len(r1),len(r2),len(r3),len(r4),len(r5),len(r6),len(r7),len(r8)
ratingd = rat +r+ r1 + r2 +r3 +r4+r5+r6+r7+r8
len(ratingd)
prod_dis = rev_sumary+rs+rs1+rs2+rs3+rs4+rs5+rs6+rs7+rs8
len(prod_dis)
fullrev = full_rev+fu+fu1+fu2+fu3+fu4+fu5+fu6+fu7+fu8
len(fullrev)

100

In [691]:
iphone_df =pd.DataFrame({'Rating':ratingd,'ProductDescription':prod_dis,'Full review':fullrev})
iphone_df

,Rating,ProductDescription,Full review
0,4,Value-for-money,Just got this iphone 11And it is most powerful...
1,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
2,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
3,5,Terrific,Really worth of money. i just love it. It is t...
4,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
...,...,...,...
95,5,Terrific,Simply AwesomeI have upgraded from iPhone 7 to...
96,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
97,5,Perfect product!,Worth the money’ starting first from its perfo...
98,1,Absolute rubbish!,Worst product delivered by FlipkartAfter 10day...
99,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."

In [786]:
brN = []
pdis = []
price1 =[]

In [802]:
#question 6
#page 1 first 40 sneakers
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

bn = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in bn[0:100]:#picking only the first 40 items
    brN.append(i.text)
    
desC = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desC[0:100]:
    pdis.append(i.text)


amt1 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in amt1[0:40]:
    price1.append(i.text)

In [803]:
#page 2
brN1 = []
pd1 = []
price2 =[]
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2')

bn1 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in bn1[0:100]:#picking only the first 40 items
    brN1.append(i.text)
    
desC1 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desC1:
    pd1.append(i.text)


amt2 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in amt2[0:40]:
    price2.append(i.text)

In [774]:
#page3
brN2 = []
pd2 = []
price3 =[]

driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3')
bn2 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in bn2[0:20]:#picking only the first 40 items
    brN2.append(i.text)
    
desC2 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desC2[0:20]:
    pd2.append(i.text)


amt3 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in amt3[0:20]:
    price3.append(i.text)

In [795]:
pbrand = brN +brN1+brN2
len(pbrand)
pdescript = pdis+pd1+pd2
len(pdescript)
Amount = price1+price2+price3
len(Amount)

100

In [808]:
len(pdis)

77

In [799]:
sneaker_df=pd.DataFrame({"Brand":pbrand, "Price":Amount})
sneaker_df

           Brand   Price
0       RapidBox    ₹599
1   K- FOOTLANCE    ₹399
2         Labbin    ₹399
3         Shozie    ₹295
4         Kzaara    ₹229
..           ...     ...
95     Creattoes    ₹199
96      HOTSTYLE    ₹449
97      LE GREEM    ₹494
98        Chevit    ₹478
99      RED TAPE  ₹1,249

[100 rows x 2 columns]

In [1116]:
driver.get('https://www.amazon.in/')

In [1117]:
lap = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
lap.send_keys('laptop')

In [1118]:
find = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
find.click()

In [1119]:
check =driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/div/label/i')
check.click()

In [1120]:
topic = []
r_ting =[]
worth =[]


title = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:100]:
    topic.append(i.text)
coment = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')
for i in coment[0:100]:
    r_ting.append(i.text)
    
wo = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in wo[0:100]:
    worth.append(i.text)

In [1123]:
#page 2
fin = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[29]/div/div/span/a[1]')
fin.click()

In [1124]:
topic1 = []
r_ting1 =[]
worth1 =[]


title1 = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title1[0:100]:
    topic1.append(i.text)
coment1 = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')
for i in coment1[0:100]:
    r_ting1.append(i.text)
    
wo1 = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in wo1[0:100]:
    worth1.append(i.text)

In [1126]:
fin = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[26]/div/div/span/a[3]')
fin.click()

In [1127]:
#page 3
topic2 = []
r_ting2 =[]
worth2 =[]


title2 = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title2[0:100]:
    topic2.append(i.text)
coment2 = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')
for i in coment2[0:100]:
    r_ting2.append(i.text)
    
wo2 = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in wo2[0:100]:
    worth2.append(i.text)

In [1128]:
len(topic2),len(topic1),len(topic)

(30, 24, 24)

In [1129]:
len(r_ting),len(r_ting1),len(r_ting2)

(31, 23, 26)

In [1130]:
len(wo),len(wo1),len(wo2)

(32, 23, 30)

In [1242]:
#page 4
fin = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[28]/div/div/span/a[5]')
fin.click()

AttributeError: 'list' object has no attribute 'click'

In [ ]:
topic3 = []
r_ting3 =[]
worth3 =[]


title3 = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title3[0:10]:
    topic3.append(i.text)
coment3 = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')
for i in coment3[0:22]:
    r_ting3.append(i.text)
r_ting3.insert(10,"")   
wo3 = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in wo3[0:10]:
    worth3.append(i.text)

In [ ]:
#forming dataframe
ltitle = topic+topic1+topic2+topic3
lrating = r_ting+r_ting1+r_ting2+r_ting3
lprice = worth+worth1+worth2+worth3

laptop_df = pd.DataFrame({'Title':ltitle,'Rating':lrating,'Price':lprice})
laptop_df

In [ ]:
laptop_df

In [1045]:
driver.get('https://www.azquotes.com/')

In [1048]:
find1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a')
find1.click()

In [1049]:
quo =[]
aut =[]
typ =[]
qt = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt:
    quo.append(i.text)
au = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au:
    aut.append(i.text)

ty = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty:
    typ.append(i.text)

In [1050]:
#page 2
find2 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a')
find2.click()

In [1051]:
quo1 =[]
aut1 =[]
typ1 =[]
qt1 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt1:
    quo1.append(i.text)
au1 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au1:
    aut1.append(i.text)

ty1 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty1:
    typ1.append(i.text)

In [1052]:
#page 3
find3 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find3.click()

In [1053]:
quo2 =[]
aut2 =[]
typ2 =[]
qt2 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt2:
    quo2.append(i.text)
au2 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au2:
    aut2.append(i.text)

ty2 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty2:
    typ2.append(i.text)

In [1054]:
#page 4
find4 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find4.click()

In [1055]:
quo3 =[]
aut3 =[]
typ3 =[]
qt3 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt3:
    quo3.append(i.text)
au3 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au3:
    aut3.append(i.text)

ty3 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty3:
    typ3.append(i.text)

In [1056]:
#page5
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find5.click()

In [1057]:
quo4 =[]
aut4 =[]
typ4 =[]
qt4 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt4:
    quo4.append(i.text)
au4 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au4:
    aut4.append(i.text)

ty4 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty4:
    typ4.append(i.text)

In [1058]:
#page 6
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find5.click()

In [1059]:
quo5 =[]
aut5 =[]
typ5 =[]
qt5 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt5:
    quo5.append(i.text)
au5 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au5:
    aut5.append(i.text)

ty5 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty5:
    typ5.append(i.text)

In [1060]:
#page7
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find5.click()

In [1061]:
quo6 =[]
aut6 =[]
typ6 =[]
qt6 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt6:
    quo6.append(i.text)
au6 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au6:
    aut6.append(i.text)

ty6 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty6:
    typ6.append(i.text)

In [1062]:
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find5.click()

In [1063]:
quo6a =[]
aut6a =[]
typ6a =[]
qt6a = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt6a:
    quo6a.append(i.text)
au6a = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au6a:
    aut6a.append(i.text)

ty6a = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty6a:
    typ6a.append(i.text)

In [1064]:
#page 8
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find5.click()

In [1065]:
quo6 =[]
aut6 =[]
typ6 =[]
qt6 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt6:
    quo6.append(i.text)
au6 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au6:
    aut6.append(i.text)

ty6 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty6:
    typ6.append(i.text)

In [1066]:
#page 9
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[13]/a')
find5.click()

In [1067]:

quo7 =[]
aut7 =[]
typ7 =[]
qt7 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt7:
    quo7.append(i.text)
au7 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au7:
    aut7.append(i.text)

ty7 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty7:
    typ7.append(i.text)

In [1070]:
quo8 =[]
aut8 =[]
typ8 =[]
qt8 = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in qt8:
    quo8.append(i.text)
au8 = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in au8:
    aut8.append(i.text)

ty8 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in ty8:
    typ8.append(i.text)

In [1072]:
len(quo),len(quo1),len(quo2),len(quo3),len(quo4),len(quo5),len(quo6),len(quo7),len(quo8)

(100, 100, 100, 100, 100, 100, 100, 100, 100)

In [1076]:
#creating dataframe
quote = quo+quo1+quo2+quo3+quo4+quo5+quo6+quo6a+quo7+quo8
len(quote)
author = aut+aut1+aut2+aut3+aut4+aut5+aut6+aut6a+aut7+aut8
len(author)
type_quote = typ+typ1+typ2+typ3+typ4+typ5+typ6+typ6a+typ7+typ8
len(type_quote)

top_100df =pd.DataFrame({'Quotes':quote,'Author':author,'Type of Quote':type_quote})

In [1077]:
top_100df

,Quotes,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [1131]:
#question 9
driver.get('https://www.jagranjosh.com/.')

In [1132]:
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
find5.click()

In [1133]:
find5 = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
find5.click()

In [1224]:
first = []
Mname =[]
year = []
termO =[]
remark =[]
nam =[]
table = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in table:
    first.append(i.text.replace('\n',""))
    
table2 = driver.find_elements(By.XPATH, '//td[@style="width: 150px; height: 80px;"]')
for i in table2:
    Mname.append(i.text.replace('\n',""))
    
table3 = driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 80px;"]')
for i in table3:
    year.append(i.text)

table4 = driver.find_elements(By.XPATH, '//td[@style="width: 256px; height: 80px;"]')
for i in table4:
    termO.append(i.text.replace('\n',""))
table4 = driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 80px;"]')
for i in table4:
    remark.append(i.text.replace('\n',""))

table5 = driver.find_elements(By.XPATH, '//td[@style="width: 150px; height: 121px;"]')
for i in table5:
    Mname.append(i.text)
    
table6 = driver.find_elements(By.XPATH, '//td[@style="width: 105px; height: 121px;"]')
for i in table6:
    year.append(i.text)
    
table7 = driver.find_elements(By.XPATH, '//td[@style="width: 150px; height: 104px;"]')
for i in table7:
    Mname.append(i.text)

table8 = driver.find_elements(By.XPATH, '//td[@style="width: 105px; height: 104px;"]')
for i in table8:
    year.append(i.text)

table9 = driver.find_elements(By.XPATH, '//td[@style="width: 256px; height: 121px;"]')
for i in table9:
    termO.append(i.text)
    
table10 = driver.find_elements(By.XPATH, '//td[@style="width: 256px; height: 104px;"]')
for i in table10:
    termO.append(i.text)
    
table11 = driver.find_elements(By.XPATH, '//td[@style="width: 145px; height: 121px;"]')
for i in table11:
    remark.append(i.text.replace('\n',""))
    
table12 = driver.find_elements(By.XPATH, '//td[@style="width: 145px; height: 104px;"]')
for i in table12:
    remark.append(i.text.replace('\n',""))

ta = driver.find_elements(By.XPATH, '//td[@style="width: 150px; height: 97px;"]')
for i in ta:
    Mname.append(i.text)
ta1 = driver.find_elements(By.XPATH, '//td[@style="width: 105px; height: 97px;"]')
for i in ta1:
    year.append(i.text)
ta2 = driver.find_elements(By.XPATH, '//td[@style="width: 256px; height: 97px;"]')
for i in ta2:
    termO.append(i.text)
ta3 = driver.find_elements(By.XPATH, '//td[@style="width: 145px; height: 97px;"]')
for i in ta3:
    remark.append(i.text)
ta4 = driver.find_elements(By.XPATH, '//td[@style="width: 150px; height: 87px;"]')
for i in ta4:
    Mname.append(i.text)
ta5 = driver.find_elements(By.XPATH, '//td[@style="width: 105px; height: 87px;"]')
for i in ta5:
    year.append(i.text)
    
ta6 = driver.find_elements(By.XPATH, '//td[@style="width: 256px; height: 87px;"]')
for i in ta6:
    termO.append(i.text)
    
ta7 = driver.find_elements(By.XPATH, '//td[@style="width: 145px; height: 87px;"]')
for i in ta7:
    remark.append(i.text)
    
len(remark),len(Mname),len(termO),len(year)

minister_df = pd.DataFrame({'Name':Mname,'Born-Dead':year,'Term of office':termO,'Remark':remark})
minister_df

,Name,Born-Dead,Term of office,Remark
0,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,13 days",First acting PM of India
1,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 196613 days,-
2,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 197711 years, 59 days",First female Prime Minister of India
3,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980170 days,Only PM who did not face the Parliament
4,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 19895 years, 32 ...",Youngest to become PM (40 years old)
5,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 19964 years, 330 days",First PM from south India
6,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 199616 days,PM for shortest tenure
7,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997324 days,He belongs to Janata Dal
8,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
9,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
10,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
11,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
12,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
13,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
14,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...
15,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
16,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
17,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party

In [1225]:
#q10
driver.get('https://www.motor1.com/')

In [1216]:
Mname

['Gulzarilal Nanda (Acting)',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Charan Singh',
 'Rajiv Gandhi',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Manmohan Singh',
 'Jawahar Lal Nehru',
 'Lal Bahadur Shastri',
 'Morarji Desai',
 'Atal Bihari Vajpayee',
 'Narendra Modi',
 'V. P. Singh',
 'Indira Gandhi',
 'Chandra Shekhar']

In [1179]:
len(year)

15